@media screen and (max-width : 350px) {
  #templateSection {
    margin: 0 auto;
    position: relative;
    width : 320px;
  }
}

@media screen and (min-width : 351px) and (max-width : 550px) {
  #templateSection {
    margin: 0 auto;
    position: relative;
    width : 340px;
  }
}

@media screen and (min-width : 601px) {
  #templateSection {
    margin: 0 auto;
    position: relative;
    width : 580px;
  }
}